github "ReactiveX/RxSwift" ~> 5.0
github "SnapKit/SnapKit" ~> 5.0.0
github "pkluz/PKHUD" ~> 5.0
github "Skyscanner/SkyFloatingLabelTextField"
github "airbnb/lottie-ios" "master"
github "Quick/Quick"
github "Quick/Nimble"

